<div class="row col-md-4 left">
    <ul class="list-group">
        <a href="/account">
            <li class="list-group-item list-group-item-success">Accounts Management</li>
        </a>
        <a href="/depart">
            <li class="list-group-item list-group-item-danger">Departments Management</li>
        </a>
        <a href="/staff">
            <li class="list-group-item list-group-item-warning">Staffs Management</li>
        </a>
        <a href="/record">
            <li class="list-group-item list-group-item-info">Staffs Assessment</li>
        </a>
    </ul>
</div>